.footer {
    bottom: 0px;
    padding: 10px;
    margin: 50px;
    position: relative;
    background-color: #09021C;
    border-radius: 10px;
}

.upperFooter {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.lowerFooter {
    display: grid;
    grid-template-rows: 0.1fr 0.1fr;
}

.lowerFooterTop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.lowerFooterSection{
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.lowerFooterSectionContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


.rightsFooter {
    background-color: #09021C;
}

.upperFooterButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.socialsIcons {
    height: 64px;
    width: 64px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.socialIcon:hover {
    height: 70px;
    width: 70px;
    transition: 0.4s;
    -webkit-transform: translateY(-3px);
	transform: translateY(-3px);
    filter: drop-shadow(2px 5px 5px #297ea3);
}

@media (min-width: 200px) and (max-width: 929px){
    
    .lowerFooterTop {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: auto;
    }
    .lowerFooter{
        justify-content: center;
    }   
}

@media (min-width: 200px) and (max-width: 439px){
    .socialsIcons{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .pqrFormQRCode img{
        height: 150px;
        width: 150px;
    }
}
